.pageHeadingWrapper {
  margin-block-end: 20px;

  *+* {
    margin-top: 5px;
  }
}

.pageHeading {
  font-size: 30px;
  margin-block: 20px 0;
}

.piercingShadowDom {
  color: orange;
}

.flickerLetter {
  color: orange;
}